{% comment %}
  Dynamic doctoral advisement renderer that pulls from _data/students.yml
  This ensures CV doctoral advisement stays in sync with the people page
{% endcomment %}

<div class="mt-2">
  <ul class="card-text font-weight-light list-group list-group-flush">
    {% for student in site.data.students.students %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-2 text-center" style="min-width: 90px;">
            <table class="table-cv">
              <tbody>
                <tr>
                  <td>
                    <span class="badge font-weight-bold info-color-dark text-uppercase align-middle" style="min-width: 75px; font-size: 0.75rem;">
                      {{ student.start_year }} - Present
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <div class="col-xs-10 col-sm-10 col-md-10 mt-2 mt-md-0">
            <div class="title font-weight-bold ml-1 ml-md-4">
              {{ student.name }}
            </div>
            <div class="ml-1 ml-md-4" style="font-size: 0.9rem; color: var(--global-text-color-light); margin-top: 0.25rem;">
              PhD Student ({{ student.role }})
            </div>
            {% if student.affiliation %}
              <div class="ml-1 ml-md-4" style="font-size: 0.85rem; font-style: italic; margin-top: 0.25rem;">
                {{ student.affiliation }}
              </div>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
