---
layout: default
---

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ site.first_name }} {{ site.last_name }}</h1>
    <p class="post-description">{{ page.subtitle }}</p>
  </header>

  <article>
    <div class="about-content">
      {% if page.profile %}
      <div class="profile-wrapper">
        {% if page.profile.image %}
        <img src="{{ page.profile.image | prepend: 'assets/img/' | relative_url }}" alt="{{ site.first_name }} {{ site.last_name }}">
        {% endif %}
        {% if page.profile.more_info %}
        <div class="profile-info">
          {{ page.profile.more_info }}
        </div>
        {% endif %}
      </div>
      {% endif %}

      <div class="about-text">
        {{ content }}
        
        {% if page.social %}
        <div class="social-icons">
          {% if site.email %}
          <a href="mailto:{{ site.email }}" title="Email"><i class="fa-solid fa-envelope"></i></a>
          {% endif %}
          {% if site.scholar_userid %}
          <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar" target="_blank"><i class="ai ai-google-scholar"></i></a>
          {% endif %}
          {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}" title="GitHub" target="_blank"><i class="fa-brands fa-github"></i></a>
          {% endif %}
          {% if site.linkedin_username %}
          <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          {% endif %}
          {% if site.research_gate_profile %}
          <a href="https://www.researchgate.net/profile/{{ site.research_gate_profile }}" title="ResearchGate" target="_blank"><i class="ai ai-researchgate"></i></a>
          {% endif %}
          {% if site.rate_my_professors_url %}
          <a href="{{ site.rate_my_professors_url }}" title="RateMyProfessors" target="_blank"><i class="fa-solid fa-graduation-cap"></i></a>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </article>
</div>
